<div id="about">
	<p>Hans Chen, CPA, MBA, is a retired accountant and 20 plus years resident of NJ. In 2008, he returned to his childhood passion for art, starting with sketches in pencil and pastels, eventually finding his niche in watercolor painting.</p>
	<ul id="bio-list">
		<li>2010 to 2012 - 1st Place, Hunterdon Senior Artists Show Amateur Section</li>
		<li>2011 to 2012 - 1st Place and Honorable Mention, NJ State Senior Citizen Art Show Amateur Section</li>
		<li>2013 - 3rd Place, Hunterdon County Senior Artists Show Professional Section</li>
		<li>2014 - 1st Place, Hunterdon County Senior Artists Show Professional Section</li>
		<li>2014 - Honorable Mention, NJ State Senior Citizen Art Show</li>
		<li>His paintings have also earned numerous prizes in the annual shows of the Hunterdon County Watercolor Society where he has been a member since 2009.</li>
	</ul>
	<p>In addition, he is a member of the Garden State Watercolor Society. His paintings are displayed in several local restaurants, doctor’s offices and the Hunterdon County Main Library. He has broad interests in painting subjects: still life, floral, landscapes, seascapes, figures, animals and buildings. When not painting, Hans enjoys ballroom dancing, golfing, fishing and traveling.</p>
</div>