<!-- 	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<a class="fancybox" rel="gallery1" href="images/1_watermark.png" title="Apples, Pots, and Plates">
					<div class="image-1"></div>
				</a>
				<a class="fancybox" rel="gallery1" href="images/5_watermark.png" title="A Moment of Tranqility">
					<div class="image-5"></div>
				</a>
				<a class="fancybox" rel="gallery1" href="images/4_watermark.png" title="Rooster">
					<div class="image-4"></div>
			</div>
			<div class="col-md-4 col-xs-12">
				<a class="fancybox" rel="gallery1" href="images/2_watermark.png" title="Drunk with the Autumn Color">
					<div class="image-2"></div>
				</a>
				<a class="fancybox" rel="gallery1" href="images/6_watermark.png" title="Apples, Grapes, and Wine Bottle">
					<div class="image-6"></div>
				</a>
				<a class="fancybox" rel="gallery1" href="images/5_watermark.png" title="A Moment of Tranqility">
					<div class="image-5"></div>
				</a>
			</div>
			<div class="col-md-4 col-xs-12">
				<a class="fancybox" rel="gallery1" href="images/4_watermark.png" title="Rooster">
					<div class="image-4"></div>
				</a>
				<a class="fancybox" rel="gallery1" href="images/8_watermark.png" title="A Moment of Tranqility">
					<div class="image-8"></div>
				</a>
				<a class="fancybox" rel="gallery1" href="images/5_watermark.png" title="A Moment of Tranqility">
					<div class="image-5"></div>
				</a>
			</div>
		</div>
	</div> -->

	<div id="container">
		<div class="masonryImage"><img src="./images/1_watermark.png"></div>
		<div class="masonryImage"><img src="./images/2_watermark.png"></div>
	</div>